:root {
    --textColor: #f0ecec;
    --seconderyColor: #fca104;
    --iconsBGHover: #0400ff;
    --primaryColor: #3f5cde;
    --categoriesHover: #2339e6;
    --textColorDark: #080808;
}

.header-1 #headerIcon {
    width: 17px;
    padding: 5px;
    padding-bottom: 6px;
    padding-top: 7px;
    border-radius: 7px;
    background-color: var(--seconderyColor);
    margin: 2.5px;
    margin-top: 3px;
    transition: all 0.4s ease-in-out;
   
}
.flag{
    width: 50px;
    border: var(--textColor) solid 1px;
    border-radius: 6px;
}
.header-1 img:hover {
    transition: all 0.4 ease-in-out;
    background-color: var(--iconsBGHover);
}

.rightIcons {
    margin-left: 640px;
}
.aroundOfFlag{
    color: var(--textColor);
}

.header-1 {

    position: absolute;
    top: 0;
    right: 0;
    height: 38px;

    justify-content: space-evenly;
    width: 100%;
    background-color: var(--primaryColor);
    display: inline-flex;

}

.leftIcns {
    align-items: center;
}
